/* colors */
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eff3f4;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    margin: 0;
    padding: 1em 2.25em 2.25em 2.25em;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

form .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3a5e77;
    overflow: hidden;
    pointer-events: none;
}

form .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}

form .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

form .inputGroup {
    margin: 0 0 15px;
    padding: 0;
    position: relative;
}

form .inputGroup:last-of-type {
    margin-bottom: 0;
}

form label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
}

form input[type='email'],
form input[type="text"],
form input[type='password'] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

form input[type='email']:focus,
form input[type="text"]:focus,
form input[type='password']:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
    border: solid 2px #4eb8dd;
}

form input[type='email'],
form input[type="text"],
form input[type="password"] {
    padding: 0px 1em 0px;
}

form button {
    display: block;
    margin: 0;
    padding: 0.65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    transition: background-color 0.2s ease-out;
}

form button:hover,
form button:active {
    background-color: #217093;
}

form .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
}

form .helper1 {
    top: -40px;
    left: 0;
    transform: translate(1.4em, 2.6em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.65;
    pointer-events: none;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
}

form .focusWithText .helper {
    /*input[type='email']:focus + .helper {
		*/
    transform: translate(1.4em, 2em) scale(0.65);
    opacity: 1;
}