<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="UTF-8">
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Groover - Online Shopping for Electronics, Apparel, Computers, Books, DVDs & more</title>
  <!-- Standard Favicon -->
  <!-- Base Google Font for Web-app -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- Google Fonts for Banners only -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
  <!-- Bootstrap 4 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Ion-Icons 4 -->
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="/css/animate.min.css">
  <!-- Owl-Carousel -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- Jquery-Ui-Range-Slider -->
  <link rel="stylesheet" href="/css/jquery-ui-range-slider.min.css">
  <!-- Utility -->
  <link rel="stylesheet" href="/css/utility.css">
  <!-- Main -->
  <link rel="stylesheet" href="/css/bundle.css">
</head>

<body onload="total()" >

  <!-- app -->
  <div id="app">
    <!-- Header -->
    <%- include("header") %>
      <!-- Header /- -->
      <!-- Main-Slider -->
      <div class="default-height ph-item">
        <div class="slider-main owl-carousel">
          <div class="bg-image one">
            <div class="slide-content slide-animation">
              <h1>Casual Clothing</h1>
              <h2>lifestyle / clothing / hype</h2>
            </div>
          </div>
          <div class="bg-image two">
            <div class="slide-content-2 slide-animation">
              <h2 class="slide-2-h2-a">Hiking</h2>
              <h2 class="slide-2-h2-b">Collection</h2>
              <h1>2018</h1>
            </div>
          </div>
          <div class="bg-image three">
            <div class="slide-content slide-animation">
              <h1>Tech
                <span style="color:#333">Deals</span>
              </h1>
              <h2 style="color:#333"># shopping</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Main-Slider /- -->
      <!-- Banner-Layer -->
      <div class="banner-layer">
        <div class="container">
          <div class="image-banner">
            <a href="/user/shop-v1" class="mx-auto banner-hover effect-dark-opacity">
              <img loading="lazy" class="img-fluid" src="/images/banners/bannerlayer-1.jpeg" alt="Winter Season Banner"
                style="width: 1110px !important; height: 236px; object-fit: cover;">
            </a>
          </div>
        </div>
      </div>
      <!-- Banner-Layer /- -->
      <!-- Men-Clothing -->
      <section class="section-maker">
        <div class="container">
          <div class="sec-maker-header text-center">
            <h3 class="sec-maker-h3">MEN'S CLOTHING</h3>
            <ul class="nav tab-nav-style-1-a justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#men-latest-products">Latest Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#men-best-selling-products">Best Selling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#men-top-rating-products">Top Rating</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#men-featured-products">Featured Products</a>
              </li>
            </ul>
          </div>
          <div class="wrapper-content">
            <div class="outer-area-tab">
              <div class="tab-content">
                <div class="tab-pane active show fade" id="men-latest-products">
                  <div class="slider-fouc">
                    <div class="products-slider owl-carousel" data-item="4">
                      <% product.forEach((element,index)=>{ %>
                        <div class="item">
                          <div class="image-container">
                            <a class="item-img-wrapper-link" href="/user/single/product">
                              <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                            </a>
                            <div class="item-action-behaviors">
                              <a class="item-addCart" data-toggle="modal" href="#quick-view" <%-
                                `onclick="myFunction('${element._id}')"`%>>Add to Cart
                              </a>

                              <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                            </div>
                          </div>
                          <div class="item-content">
                            <div class="what-product-is">
                              <h6 class="item-title">
                                <a href="/user/single/product">
                                  <%= element.title %>
                                </a>
                              </h6>
                              <div class="item-stars">
                                <div class='star' title="0 out of 5 - based on 0 Reviews">
                                  <span style='width:0'></span>
                                </div>
                                <span>(0)</span>
                              </div>
                            </div>
                            <div class="price-template">
                              <div class="item-new-price">
                                <%= element.price.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' , }) %>
                              </div>

                            </div>
                          </div>
                        </div>
                        <% }) %>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="men-best-selling-products">
                  <!-- Product Not Found -->
                  <div class="product-not-found">
                    <div class="not-found">
                      <h2>SORRY!</h2>
                      <h6>There is not any product in specific catalogue.</h6>
                    </div>
                  </div>
                  <!-- Product Not Found /- -->
                </div>
                <div class="tab-pane fade" id="men-top-rating-products">
                  <div class="slider-fouc">
                    <div class="products-slider owl-carousel" data-item="4">
                      <div class="item">
                        <div class="image-container">
                          <a class="item-img-wrapper-link" href="/user/single/product">
                            <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                          </a>
                          <div class="item-action-behaviors">
                            <a class="item-addCart" data-toggle="modal" href="#quick-view">Add to Cart
                            </a>

                            <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                          </div>
                        </div>
                        <div class="item-content">
                          <div class="what-product-is">
                            <ul class="bread-crumb">
                              <li class="has-separator">
                                <a href="/user/shop-v1">Men's</a>
                              </li>
                              <li class="has-separator">
                                <a href="shop-v2-sub-category.html">Tops</a>
                              </li>
                              <li>
                                <a href="shop-v3-sub-sub-category.html">Suits</a>
                              </li>
                            </ul>
                            <h6 class="item-title">
                              <a href="/user/single/product">Black Maire Full Men Suit</a>
                            </h6>
                            <div class="item-stars">
                              <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                <span style='width:67px'></span>
                              </div>
                              <span>(23)</span>
                            </div>
                          </div>
                          <div class="price-template">
                            <div class="item-new-price">
                              $55.00
                            </div>
                            <div class="item-old-price">
                              $60.00
                            </div>
                          </div>
                        </div>
                        <div class="tag sale">
                          <span>SALE</span>
                        </div>
                      </div>
                      <div class="item">
                        <div class="image-container">
                          <a class="item-img-wrapper-link" href="/user/single/product">
                            <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                          </a>
                          <div class="item-action-behaviors">
                            <a class="item-addCart" data-toggle="modal" href="#quick-view">Add to Cart
                            </a>

                            <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                          </div>
                        </div>
                        <div class="item-content">
                          <div class="what-product-is">
                            <ul class="bread-crumb">
                              <li class="has-separator">
                                <a href="/user/shop-v1">Men's</a>
                              </li>
                              <li class="has-separator">
                                <a href="shop-v2-sub-category.html">Outwear</a>
                              </li>
                              <li>
                                <a href="shop-v3-sub-sub-category.html">Jackets</a>
                              </li>
                            </ul>
                            <h6 class="item-title">
                              <a href="/user/single/product">Woodsmoke Rookie Parka Jacket</a>
                            </h6>
                            <div class="item-stars">
                              <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                <span style='width:67px'></span>
                              </div>
                              <span>(23)</span>
                            </div>
                          </div>
                          <div class="price-template">
                            <div class="item-new-price">
                              $55.00
                            </div>
                            <div class="item-old-price">
                              $60.00
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="image-container">
                          <a class="item-img-wrapper-link" href="/user/single/product">
                            <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                          </a>
                          <div class="item-action-behaviors">
                            <a class="item-addCart" data-toggle="modal" href="#quick-view">Add to Cart
                            </a>

                            <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                          </div>
                        </div>
                        <div class="item-content">
                          <div class="what-product-is">
                            <ul class="bread-crumb">
                              <li class="has-separator">
                                <a href="/user/shop-v1">Men's</a>
                              </li>
                              <li class="has-separator">
                                <a href="shop-v2-sub-category.html">Accessories</a>
                              </li>
                              <li>
                                <a href="shop-v3-sub-sub-category.html">Ties</a>
                              </li>
                            </ul>
                            <h6 class="item-title">
                              <a href="/user/single/product">Blue Zodiac Boxes Reg Tie</a>
                            </h6>
                            <div class="item-stars">
                              <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                <span style='width:67px'></span>
                              </div>
                              <span>(23)</span>
                            </div>
                          </div>
                          <div class="price-template">
                            <div class="item-new-price">
                              $55.00
                            </div>
                            <div class="item-old-price">
                              $60.00
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="image-container">
                          <a class="item-img-wrapper-link" href="/user/single/product">
                            <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                          </a>
                          <div class="item-action-behaviors">
                            <a class="item-addCart" data-toggle="modal" href="#quick-view">Add to Cart
                            </a>

                            <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                          </div>
                        </div>
                        <div class="item-content">
                          <div class="what-product-is">
                            <ul class="bread-crumb">
                              <li class="has-separator">
                                <a href="/user/shop-v1">Men's</a>
                              </li>
                              <li class="has-separator">
                                <a href="shop-v2-sub-category.html">Bottoms</a>
                              </li>
                              <li>
                                <a href="shop-v3-sub-sub-category.html">Shoes</a>
                              </li>
                            </ul>
                            <h6 class="item-title">
                              <a href="/user/single/product">Zambezi Carved Leather Business Casual Shoes
                              </a>
                            </h6>
                            <div class="item-stars">
                              <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                <span style='width:67px'></span>
                              </div>
                              <span>(23)</span>
                            </div>
                          </div>
                          <div class="price-template">
                            <div class="item-new-price">
                              $55.00
                            </div>
                            <div class="item-old-price">
                              $60.00
                            </div>
                          </div>
                        </div>
                        <div class="tag discount">
                          <span>-15%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="men-featured-products">
                  <!-- Product Not Found -->
                  <div class="product-not-found">
                    <div class="not-found">
                      <h2>SORRY!</h2>
                      <h6>There is not any product in specific catalogue.</h6>
                    </div>
                  </div>
                  <!-- Product Not Found /- -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Men-Clothing-Timing-Section -->
      <section class="section-maker">
        <div class="container">
          <div class="sec-maker-header text-center">
            <span class="sec-maker-span-text">Men's Clothing</span>
            <h3 class="sec-maker-h3 u-s-m-b-22">Hot Deals</h3>
            <span class="sec-maker-span-text">Ends in</span>
            <!-- Timing-Box -->
            <div class="section-timing-wrapper dynamic">
              <span class="fictitious-seconds" style="display:none;">18000</span>
              <div class="section-box-wrapper box-days">
                <div class="section-box">
                  <span class="section-key">120</span>
                  <span class="section-value">Days</span>
                </div>
              </div>
              <div class="section-box-wrapper box-hrs">
                <div class="section-box">
                  <span class="section-key">54</span>
                  <span class="section-value">HRS</span>
                </div>
              </div>
              <div class="section-box-wrapper box-mins">
                <div class="section-box">
                  <span class="section-key">3</span>
                  <span class="section-value">MINS</span>
                </div>
              </div>
              <div class="section-box-wrapper box-secs">
                <div class="section-box">
                  <span class="section-key">32</span>
                  <span class="section-value">SEC</span>
                </div>
              </div>
            </div>
            <!-- Timing-Box /- -->
          </div>
          <!-- Carousel -->
          <div class="slider-fouc">
            <div class="products-slider owl-carousel" data-item="4">
              <div class="item">
                <div class="image-container">
                  <a class="item-img-wrapper-link" href="/user/single/product">
                    <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                  </a>
                  <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>

                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                  </div>
                </div>
                <div class="item-content">
                  <div class="what-product-is">
                    <ul class="bread-crumb">
                      <li class="has-separator">
                        <a href="/user/shop-v1">Men's</a>
                      </li>
                      <li class="has-separator">
                        <a href="shop-v2-sub-category.html">Outwear</a>
                      </li>
                      <li>
                        <a href="shop-v3-sub-sub-category.html">Jackets</a>
                      </li>
                    </ul>
                    <h6 class="item-title">
                      <a href="/user/single/product">Maire Battlefield Jeep Men's Jacket</a>
                    </h6>
                    <div class="item-stars">
                      <div class='star' title="0 out of 5 - based on 0 Reviews">
                        <span style='width:0'></span>
                      </div>
                      <span>(0)</span>
                    </div>
                  </div>
                  <div class="price-template">
                    <div class="item-new-price">
                      $55.00
                    </div>
                    <div class="item-old-price">
                      $60.00
                    </div>
                  </div>
                </div>
                <div class="tag hot">
                  <span>HOT</span>
                </div>
              </div>
              <div class="item">
                <div class="image-container">
                  <a class="item-img-wrapper-link" href="/user/single/product">
                    <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                  </a>
                  <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>

                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                  </div>
                </div>
                <div class="item-content">
                  <div class="what-product-is">
                    <ul class="bread-crumb">
                      <li class="has-separator">
                        <a href="/user/shop-v1">Men's</a>
                      </li>
                      <li class="has-separator">
                        <a href="shop-v2-sub-category.html">Outwear</a>
                      </li>
                      <li>
                        <a href="shop-v3-sub-sub-category.html">Jackets</a>
                      </li>
                    </ul>
                    <h6 class="item-title">
                      <a href="/user/single/product">Fern Green Men's Jacket</a>
                    </h6>
                    <div class="item-stars">
                      <div class='star' title="0 out of 5 - based on 0 Reviews">
                        <span style='width:0'></span>
                      </div>
                      <span>(0)</span>
                    </div>
                  </div>
                  <div class="price-template">
                    <div class="item-new-price">
                      $55.00
                    </div>
                    <div class="item-old-price">
                      $60.00
                    </div>
                  </div>
                </div>
                <div class="tag hot">
                  <span>HOT</span>
                </div>
              </div>
              <div class="item">
                <div class="image-container">
                  <a class="item-img-wrapper-link" href="/user/single/product">
                    <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                  </a>
                  <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>

                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                  </div>
                </div>
                <div class="item-content">
                  <div class="what-product-is">
                    <ul class="bread-crumb">
                      <li class="has-separator">
                        <a href="/user/shop-v1">Men's</a>
                      </li>
                      <li class="has-separator">
                        <a href="shop-v2-sub-category.html">Sunglasses</a>
                      </li>
                      <li>
                        <a href="shop-v3-sub-sub-category.html">Round</a>
                      </li>
                    </ul>
                    <h6 class="item-title">
                      <a href="/user/single/product">Brown Dark Tan Round Double Bridge Sunglasses</a>
                    </h6>
                    <div class="item-stars">
                      <div class='star' title="0 out of 5 - based on 0 Reviews">
                        <span style='width:0'></span>
                      </div>
                      <span>(0)</span>
                    </div>
                  </div>
                  <div class="price-template">
                    <div class="item-new-price">
                      $55.00
                    </div>
                    <div class="item-old-price">
                      $60.00
                    </div>
                  </div>
                </div>
                <div class="tag hot">
                  <span>HOT</span>
                </div>
              </div>
              <div class="item">
                <div class="image-container">
                  <a class="item-img-wrapper-link" href="/user/single/product">
                    <img loading="lazy" class="img-fluid" src="/images/product/product3x.jpeg" alt="Product">
                  </a>
                  <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>

                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>

                  </div>
                </div>
                <div class="item-content">
                  <div class="what-product-is">
                    <ul class="bread-crumb">
                      <li class="has-separator">
                        <a href="/user/shop-v1">Men's</a>
                      </li>
                      <li class="has-separator">
                        <a href="shop-v2-sub-category.html">Sunglasses</a>
                      </li>
                      <li>
                        <a href="shop-v3-sub-sub-category.html">Round</a>
                      </li>
                    </ul>
                    <h6 class="item-title">
                      <a href="/user/single/product">Black Round Double Bridge Sunglasses</a>
                    </h6>
                    <div class="item-stars">
                      <div class='star' title="0 out of 5 - based on 0 Reviews">
                        <span style='width:0'></span>
                      </div>
                      <span>(0)</span>
                    </div>
                  </div>
                  <div class="price-template">
                    <div class="item-new-price">
                      $55.00
                    </div>
                    <div class="item-old-price">
                      $60.00
                    </div>
                  </div>
                </div>
                <div class="tag hot">
                  <span>HOT</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel /- -->
        </div>
      </section>
      <!-- Men-Clothing-Timing-Section /- -->
      <!-- Banner-Image & View-more -->
      <div class="banner-image-view-more">
        <div class="container">
          <div class="image-banner u-s-m-y-40">
            <a href="/user/shop-v1" class="mx-auto banner-hover effect-dark-opacity">
              <img loading="lazy" class="img-fluid" src="/images/banners/ban-men.jpeg" alt="Winter Season Banner"
                style="width: 1110px !important; height: 236px; object-fit: cover;">
            </a>
          </div>
          <div class="redirect-link-wrapper text-center u-s-p-t-25 u-s-p-b-80">
            <a class="redirect-link" href="store-directory.html">
              <span>View more on this category</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Banner-Image & View-more /- -->
      <!-- Men-Clothing /- -->
      <!-- Brand-Slider -->
      <div class="brand-slider u-s-p-b-80">
        <div class="container">
          <div class="brand-slider-content owl-carousel" data-item="5">
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143356/127.png"
                  alt="Brand Logo 1">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143359/2_big1.png"
                  alt="Brand Logo 2">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143428/129.png"
                  alt="Brand Logo 3">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143422/104.png"
                  alt="Brand Logo 5">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143416/810.png"
                  alt="Brand Logo 6">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143319/79.png"
                  alt="Brand Logo 7">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143401/311.png"
                  alt="Brand Logo 7">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143322/89.png"
                  alt="Brand Logo 7">
              </a>
            </div>
            <div class="brand-pic">
              <a href="#">
                <img loading="lazy" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143434/144.png"
                  alt="Brand Logo 7">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Brand-Slider /- -->
      <!-- Site-Priorities -->
      <section class="app-priority">
        <div class="container">
          <div class="priority-wrapper u-s-p-b-80">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-item-wrapper">
                  <div class="single-item-icon">
                    <i class="ion ion-md-star"></i>
                  </div>
                  <h2>
                    Great Value
                  </h2>
                  <p>We offer competitive prices on our 100 million plus product range</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-item-wrapper">
                  <div class="single-item-icon">
                    <i class="ion ion-md-cash"></i>
                  </div>
                  <h2>
                    Shop with Confidence
                  </h2>
                  <p>Our Protection covers your purchase from click to delivery</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-item-wrapper">
                  <div class="single-item-icon">
                    <i class="ion ion-ios-card"></i>
                  </div>
                  <h2>
                    Safe Payment
                  </h2>
                  <p>Pay with the world’s most popular and secure payment methods</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-item-wrapper">
                  <div class="single-item-icon">
                    <i class="ion ion-md-contacts"></i>
                  </div>
                  <h2>
                    24/7 Help Center
                  </h2>
                  <p>Round-the-clock assistance for a smooth shopping experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Site-Priorities /- -->
      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <!-- Outer-Footer -->
          <div class="outer-footer-wrapper u-s-p-y-80">
            <h6>
              For special offers and other discount information
            </h6>
            <h1>
              Subscribe to our Newsletter
            </h1>
            <p>
              Subscribe to the mailing list to receive updates on promotions, new arrivals, discount and coupons.
            </p>
            <form class="newsletter-form">
              <label class="sr-only" for="newsletter-field">Enter your Email</label>
              <input type="text" id="newsletter-field" placeholder="Your Email Address">
              <button type="submit" class="button">SUBMIT</button>
            </form>
          </div>
          <!-- Outer-Footer /- -->
          <!-- Mid-Footer -->
          <div class="mid-footer-wrapper u-s-p-b-80">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-list">
                  <h6>CUSTOMER SERVICE</h6>
                  <ul>
                    <li>
                      <a href="faq.html">FAQs</a>
                    </li>
                    <li>
                      <a href="track-order.html">Track Order</a>
                    </li>
                    <li>
                      <a href="terms-and-conditions.html">Terms & Conditions</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-list">
                  <h6>COMPANY</h6>
                  <ul>
                    <li>
                      <a href="">Home</a>
                    </li>
                    <li>
                      <a href="about.html">About</a>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-list">
                  <h6>INFORMATION</h6>
                  <ul>
                    <li>
                      <a href="store-directory.html">Categories Directory</a>
                    </li>
                    <li>
                      <a href="wishlist.html">My Wishlist</a>
                    </li>
                    <li>
                      <a href="cart.html">My Cart</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="footer-list">
                  <h6>Address</h6>
                  <ul>
                    <li>
                      <i class="fas fa-location-arrow u-s-m-r-9"></i>
                      <span>819 Sugar Camp Road, West Concord, MN 55985</span>
                    </li>
                    <li>
                      <a href="tel:+923086561801">
                        <i class="fas fa-phone u-s-m-r-9"></i>
                        <span>+111-444-989</span>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:contact@domain.com">
                        <i class="fas fa-envelope u-s-m-r-9"></i>
                        <span>
                          contact@domain.com</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Mid-Footer /- -->
          <!-- Bottom-Footer -->
          <div class="bottom-footer-wrapper">
            <div class="social-media-wrapper">
              <ul class="social-media-list">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fas fa-rss"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-pinterest"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
            <p class="copyright-text">Copyright &copy; 2018
              <a href="">Groover</a> All Right Reserved
            </p>
          </div>
        </div>
        <!-- Bottom-Footer /- -->
      </footer>
      <!-- Footer /- -->
      <!-- Dummy Selectbox -->
      <div class="select-dummy-wrapper">
        <select id="compute-select">
          <option id="compute-option">All</option>
        </select>
      </div>
      <!-- Dummy Selectbox /- -->
      <!-- Responsive-Search -->
      <div class="responsive-search-wrapper">
        <button type="button" class="button ion ion-md-close" id="responsive-search-close-button"></button>
        <div class="responsive-search-container">
          <div class="container">
            <p>Start typing and press Enter to search</p>
            <form class="responsive-search-form">
              <label class="sr-only" for="search-text">Search</label>
              <input id="search-text" type="text" class="responsive-search-field" placeholder="PLEASE SEARCH">
              <i class="fas fa-search"></i>
            </form>
          </div>
        </div>
      </div>
      <!-- Responsive-Search /- -->
      <!-- Newsletter-Modal -->
      <!-- Newsletter-Modal /- -->
      <!-- Quick-view-Modal -->
      <div id="quick-view" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="button dismiss-button ion ion-ios-close" data-dismiss="modal"></button>
            <div id="Product-details"></div>
          </div>
        </div>
      </div>
      <!-- Quick-view-Modal /- -->
  </div>
  <!-- app /- -->
  <!--[if lte IE 9]>
<div class="app-issue">
    <div class="vertical-center">
        <div class="text-center">
            <h1>You are using an outdated browser.</h1>
            <span>This web app is not compatible with following browser. Please upgrade your browser to improve your security and experience.</span>
        </div>
    </div>
</div>
<style> #app {
    display: none;
} </style>
<![endif]-->
  <!-- NoScript -->
  <noscript>
    <div class="app-issue">
      <div class="vertical-center">
        <div class="text-center">
          <h1>JavaScript is disabled in your browser.</h1>
          <span>Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser to register for
            Groover.</span>
        </div>
      </div>
    </div>
    <style>
      #app {
        display: none;
      }
    </style>
  </noscript>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script>
    async function total(){
      try {
        const { data: response } = await axios.get(
          `http://localhost:3000/user/home/cart-total`
        );
        let html = `<i class="ion ion-md-basket"></i>
                <span class="item-counter">${response.totalProduct}</span>
                <span class="item-price">${response.data.toLocaleString(
          "it-IT",
          {
            style: "currency",
            currency: "VND",
          }
        )}</span>`;

        document.getElementById("mini-cart-trigger").innerHTML = html;
      } catch (error) {
        console.log(error);
      }
    }
  </script>
  <script src="/js/home.js"></script>
  <!-- Modernizr-JS -->
  <script type="text/javascript" src="/js/vendor/modernizr-custom.min.js"></script>
  <!-- NProgress -->
  <script type="text/javascript" src="/js/nprogress.min.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- Popper -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- ScrollUp -->
  <script type="text/javascript" src="/js/jquery.scrollUp.min.js"></script>
  <!-- Elevate Zoom -->
  <script type="text/javascript" src="/js/jquery.elevatezoom.min.js"></script>
  <!-- jquery-ui-range-slider -->
  <script type="text/javascript" src="/js/jquery-ui.range-slider.min.js"></script>
  <!-- jQuery Slim-Scroll -->
  <script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
  <!-- jQuery Resize-Select -->
  <script type="text/javascript" src="/js/jquery.resize-select.min.js"></script>
  <!-- jQuery Custom Mega Menu -->
  <script type="text/javascript" src="/js/jquery.custom-megamenu.min.js"></script>
  <!-- jQuery Countdown -->
  <script type="text/javascript" src="/js/jquery.custom-countdown.min.js"></script>
  <!-- Owl Carousel -->
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <!-- Main -->
  <script type="text/javascript" src="/js/app.js"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>